{% extends 'codepubbase.html' %}
{% block content %}
    
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-auto offset-1
                    ">
                        <!-- add all content here -->
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        <h1>HOME PAGE content</h1> <br> <br>
                        
                    </div>
                </div>
            </div>
                
            <div class="col-md-4 ">
                <div class="row sticky-top mt-5">
                    <div class="col-auto">
                        {% include 'codepub/side.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}
